extends ../layout/master
block content
    .row
        .col-md-12
            .card
                .card-body
                    form(action="/posts/edit/"+posts._id,method="post")
                        .form-group
                            label(for="title") Title
                            input.form-control(type="text",name="title",value=posts.title)
                        .form-group
                            label(for="tags") Tags
                            select.form-control(name="tags")
                                each tag, i in tags
                                    option(value=tag.name)=tag.name
                        .form-group
                            label(for="content") Content
                        textarea.form-control(name="content")=posts.content
                        .float-right
                            button.btn.btn-info(type="submit") Save