extends ../layout/master
block content
    .row
        .col-md-12
            .card
                .card-body
                    table.table.table-bordere
                        thead
                            tr
                                th No
                                th Title
                                th Desc
                                th action
                        tbody
                            tr
                                td 1
                                td Content 1
                                td Desc
                                td
                                    .d-inline.my-auto
                                        a.btn.btn-primary Update
                                        a.btn.btn-danger Delete
                            tr
                                td 1
                                td Content 1
                                td Desc
                                td
                                    .d-inline.my-auto
                                        a.btn.btn-primary Update
                                        a.btn.btn-danger Delete

