.sidebar(data-color='white' data-active-color='danger')
  .logo
    a.simple-text.logo-mini(href='https://www.creative-tim.com')
      .logo-image-small
        img(src='../assets/img/logo-small.png')
      // <p>CT</p>
    a.simple-text.logo-normal(href='https://www.creative-tim.com')
      | Creative Tim
      //
        <div class="logo-image-big">
        <img src="../assets/img/logo-big.png">
        </div>
  .sidebar-wrapper
    ul.nav
      li.active
        a(href='./dashboard.html')
          i.nc-icon.nc-bank
          p Dashboard
      li
        a(href='/posts')
          i.nc-icon.nc-diamond
          p Post
      li
        a(href='/tags')
          i.nc-icon.nc-pin-3
          p Tags
      li
        a(href='./notifications.html')
          i.nc-icon.nc-bell-55
          p Notifications
      li
        a(href='./user.html')
          i.nc-icon.nc-single-02
          p User Profile
      li
        a(href='./tables.html')
          i.nc-icon.nc-tile-56
          p Table List
      li
        a(href='./typography.html')
          i.nc-icon.nc-caps-small
          p Typography
      li.active-pro
        a(href='./upgrade.html')
          i.nc-icon.nc-spaceship
          p Upgrade to PRO